<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Impulse"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_prototyp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="36">

        <!-- Der Portrait-Modus wird nicht gern von Android gesehen, deswegen steht dort "tools:ignore="DiscouragedApi,LockedOrientationActivity"" -->

        <activity
            android:name="de.seleri.impulse.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>